{{ define "main" }}
<article>
	<header class="irm-header">
		<div>
			<p class="lead">{{ .Description }}</p>
			<p>
				{{ i18n "irm_author" }} {{ .Params.author }}<br>
				{{ i18n "irm_version" }} {{ .Params.version }}
			</p>
		</div>
		<nav>
			<ul class="nav flex-column">
			{{- range .Resources.ByType "page" }}
				<li class="nav-item step-{{ .Title | lower }}">
					<a href="#{{ .Title | lower }}" class="nav-link link-secondary p-0">
						<span class="step-header">{{ .Weight }}</span>
						{{ i18n .Title }}
					</a>
				</li>
			{{- end }}
			</ul>
		</nav>
	</header>
    {{ .Content }}
	{{- range .Resources.ByType "page" }}
	<section class="step step-{{ .Title | lower }}" id="{{ .Title | lower }}">
		<header class="step-header">
			<h2 class="step-title">{{ i18n .Title }}</h2>
			<span class="step-number">{{ .Weight }}</span>
		</header>
		<div class="m-3">
			{{- if .Params.objective }}
			<p class="lead"><b>Objective</b>: {{ .Params.objective | markdownify }}</p>
			{{- end }}
			{{ .Content }}
		</div>
	</section>
	{{- end }}
</article>
{{ end }}
