{{ define "main" }}
<div class="row mt-3 mx-md-2">
    <article class="col-md-7">
        {{ .Content }}
    </article>
    <aside class="col-md-5">
        <nav>
            <ul class="nav flex-column">
            {{- range .Site.RegularPages }}
                <li class="nav-item py-1">
                    <a class="nav-link p-0 d-inline" href="{{ .RelPermalink }}">{{ partial "irm-title" . }}</a>
                    <span class="badge border border-dark text-dark">v{{ .Params.version }}</span>
                </li>
            {{- end }}
            </ul>
        </nav>
    </aside>
</div>
{{ end }}
